@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
    font-family: "Space Grotesk", sans-serif;

    --color-title: #FF6E02;
    --color-tagline: #2d3748;
    --color-label: #898989;
}

/* Optional: utility classes to mimic Tailwind’s text/bg usage */
.text-title {
    color: var(--color-title);
}

.bg-title {
    background-color: var(--color-title);
}

.text-tagline {
    color: var(--color-tagline);
}

.bg-accent {
    background-color: var(--color-accent);
}

.text-label {
    color: var(--color-label);
}

.bg-foreground {
    background-color: var(--color-foreground);
}

.text-background {
    color: var(--color-background);
}

.bg-background {
    background-color: var(--color-background);
}

.text-dark-gray {
    color: var(--color-dark-gray);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}